/examples/alanine_dipeptide/data/AD/TPS/trjs
/examples/alanine_dipeptide/data/AD/CV/CV_data
/examples/alanine_dipeptide/results
/analysis/.*
/.idea
*.pyc
/examples/alanine_dipeptide/.ipynb_checkpoints/
/dist/
/build/
/FABULOUS.egg-info/
